#title {
    text-align: center;
    background-color: aqua;
    height: 100px;
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}